.container-nav {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
}



body{
	color: #222;
}
p{
	margin: 0;
}

.header{
	background-color: #03c;
	color: #fff;
}

.container-topbar {
	background: #fff;
	color: #222;
	text-align: center;
	padding: 1rem 0;
}
.topbar__inner {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	gap: 0.5rem;

}
.logo {
	max-width: 17em;
	display: block;
	width: 100%;
}
.time-address{
	font-weight: 500;
}
.time-address span{
	color: #06c;
}
.contacts {
	font-size: 1.25em;
	font-weight: 600;

}

/* Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше) */
@media (min-width: 576px) {
	.topbar__inner {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}



}

/* Устройства Medium (планшеты, 768 пикселей и выше)*/
@media (min-width: 768px) {
	.topbar__inner {
		flex-wrap: nowrap;
	}
	.logo {
		flex: 0 1 17rem;
	}
	.time-address{
		flex: 1 0 17em;
	}
	
	.contacts {
		flex: 0 0 10em;

	}
}

/* Устройства Large (настольные компьютеры, 992 пикселей и выше)*/
@media (min-width: 992px) {
.container-topbar {
		font-size: 1.25em;

	}
}

/* Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)*/
@media (min-width: 1200px) {

}

/* Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше)*/
@media (min-width: 1400px) {

}

