body{

}
p{
	margin: 0;
}

.header{
	background-color: #03c;
	color: #fff;
}

.container-topbar {
	background: #fff;
	color: #222;
	text-align: center;
	font-size: 1.25rem;
	padding: 1rem 0;
}
.my-logo {
	display: block;
	width: 100%;
}

.contacts {
	text-align: right;
}

